[submodule "Linkhub"]
	path = Linkhub
	url = https://github.com/linkhub-sdk/linkhub.auth.vb6
[submodule "PopbillHTCashbill"]
	path = PopbillHTCashbill
	url = https://github.com/linkhub-sdk/popbill.ht.cashbill.vb6
